#AI-Control-Panel {
    background-color: #2C3E50;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#AI-Control-Panel > div {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#AI-Control-Panel label {
    margin-bottom: 3px;
}

#AI-Control-Panel select, 
#AI-Control-Panel input[type="number"] {
    padding: 6px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
    width: 90%;
    max-width: 300px;
}

#AI-Control-Panel #model-selector {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#AI-Control-Panel .model-btn {
    margin: 3px;
    padding: 8px;
    background-color: #34495E;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 120px;
}

#AI-Control-Panel .model-btn.active {
    background-color: #E74C3C;
}

/* MIDI Upload styles */

#midi-upload {
    margin-top: 15px;
}

input[type="file"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #34495E;
    color: white;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    display: none;
}

#midi-filename {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

/* Checkpoints styles */

#checkpoint-selector-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#checkpoint-selector {
    flex: 1.2;
    background-color: #2C3E50;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#checkpoint-description {
    flex: 0.8;
    background-color: #2C3E50;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#checkpoint-description p {
    margin: 0;
}

#checkpoint-select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    color: white;
    background-color: #34495E;
}