[data-theme="dark"] {
    background-color: #222;
    color: #fff;
}

[data-theme="dark"] .key {
    background-color: #444;
    border-color: #555;
}

[data-theme="dark"] .key.black {
    background-color: #111;
}

[data-theme="dark"] #brand-name {
    color: #eee;
}
