.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);/* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to be on top */
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.notification-banner {
  position: fixed;
  top: -50px; /* Start off-screen */
  left: 0;
  width: 100%;
  background-color: #4CAF50; /* Green background */
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1001; /* Above other elements */
  transition: top 0.5s, visibility 0.5s; /* Smooth slide-down and visibility transition */
  visibility: hidden; /* Start as hidden */
}

.notification-banner.show {
  top: 0; /* Slide down to show */
  visibility: visible; /* Make visible */
}
