
#sequencer {
  border-radius: 10px; /* Add rounded corners to the sequencer container */
}

#sequencer span {
  border-radius: 5px; /* Rounded corners for each cell */
  margin-right: 2px; /* Spacing between cells */
}

/* Additional spacing every 4 cells (you may need to adjust this selector) */
#sequencer span:nth-child(4n) {
  margin-right: 4px; /* Double spacing every 4 cells */
}

.cell {
  transition: transform 0.1s ease-in; /* Smooth transition for the 'jumping up' phase */
  margin-right: 4px;
}

.cell-highlight {
  box-shadow: 0px 0px 10px 2px rgb(255, 253, 253);
  transform: translateY(-15px); /* Adjust this value as needed */
}

.cell-highlight.active {
  transition: none; /* Immediate snap back with no transition */
}

